In [5]:
import pandas as pd
import requests

In [23]:
df_goog = pd.read_csv('https://raw.githubusercontent.com/data602sps/datasetspractice/main/GOOG.csv')

df_kobe = pd.read_csv('https://raw.githubusercontent.com/data602sps/datasetspractice/main/kobe.csv')

df_games = pd.read_csv('./feb_2023/games.csv')

df_movies = pd.read_csv('./feb_2023/movies.csv')

In [24]:
df_goog 

# It has 1258 rows and 7 columns

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-06-24,562.099304,569.514526,557.942139,561.532410,561.532410,2213200
1,2014-06-25,562.168884,576.788513,562.129089,575.485657,575.485657,1974700
2,2014-06-26,577.822815,579.264893,568.722839,572.850159,572.850159,1746700
3,2014-06-27,574.023682,576.698975,570.662170,574.083374,574.083374,2243000
4,2014-06-30,575.495605,576.400635,571.606995,572.134094,572.134094,1317300
...,...,...,...,...,...,...,...
1253,2019-06-17,1086.280029,1099.180054,1086.280029,1092.500000,1092.500000,941600
1254,2019-06-18,1109.689941,1116.390015,1098.989990,1103.599976,1103.599976,1386700
1255,2019-06-19,1105.599976,1107.000000,1093.479980,1102.329956,1102.329956,1338800
1256,2019-06-20,1119.989990,1120.119995,1104.739990,1111.420044,1111.420044,1262000
1257,2019-06-21,1109.239990,1124.109985,1108.079956,1121.880005,1121.880005,1930100

In [26]:
df_goog.shape

(1258, 7)

In [27]:
df_goog.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [31]:
df_goog.describe()

# the describe method returns statistics for each column, all the columns for this dataset is numerical.
# the describe method doesn't work with categorical data and will ignore columns with categorical data.
# sometimes it will still perform calculation and return statistics that don't make sense if the 
# datatype for a column is numerical, but it's supposed to be interpreted as categorical.

,Open,High,Low,Close,Adj Close,Volume
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03
mean,842.065785,849.196733,834.607101,842.175733,842.175733,1.750196e+06
std,224.688021,227.042283,222.565409,224.969453,224.969453,8.586929e+05
min,491.942810,493.261566,484.891632,489.854309,489.854309,5.272000e+05
25%,645.425003,650.681763,637.150024,643.905029,643.905029,1.243325e+06
50%,795.364990,801.023010,790.855011,795.359985,795.359985,1.531050e+06
75%,1051.584992,1064.093719,1040.893494,1052.059967,1052.059967,1.995025e+06
max,1274.000000,1289.270020,1266.295044,1287.579956,1287.579956,1.116490e+07

In [32]:
df_goog.head()

# the head method returns the first five rows of the dataset

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-06-24,562.099304,569.514526,557.942139,561.532410,561.532410,2213200
1,2014-06-25,562.168884,576.788513,562.129089,575.485657,575.485657,1974700
2,2014-06-26,577.822815,579.264893,568.722839,572.850159,572.850159,1746700
3,2014-06-27,574.023682,576.698975,570.662170,574.083374,574.083374,2243000
4,2014-06-30,575.495605,576.400635,571.606995,572.134094,572.134094,1317300

In [33]:
df_goog.tail()

# the tail method returns the last five rows of the dataset

,Date,Open,High,Low,Close,Adj Close,Volume
1253,2019-06-17,1086.280029,1099.180054,1086.280029,1092.500000,1092.500000,941600
1254,2019-06-18,1109.689941,1116.390015,1098.989990,1103.599976,1103.599976,1386700
1255,2019-06-19,1105.599976,1107.000000,1093.479980,1102.329956,1102.329956,1338800
1256,2019-06-20,1119.989990,1120.119995,1104.739990,1111.420044,1111.420044,1262000
1257,2019-06-21,1109.239990,1124.109985,1108.079956,1121.880005,1121.880005,1930100

In [34]:
df_kobe

,vs,game,quarter,time,description,basket
0,ORL,1,1,9:47,Kobe Bryant makes 4-foot two point shot,H
1,ORL,1,1,9:07,Kobe Bryant misses jumper,M
2,ORL,1,1,8:11,Kobe Bryant misses 7-foot jumper,M
3,ORL,1,1,7:41,Kobe Bryant makes 16-foot jumper (Derek Fisher...,H
4,ORL,1,1,7:03,Kobe Bryant makes driving layup,H
...,...,...,...,...,...,...
128,ORL,3,4,3:33,Bryant Layup Shot: Missed,M
129,ORL,3,4,2:02,Bryant 3pt Shot: Missed,M
130,ORL,3,4,00:23.9,Bryant 3pt Shot: Missed,M
131,ORL,3,4,00:06.9,Bryant 3pt Shot: Missed,M
132,ORL,3,4,00:00.5,Bryant Layup Shot: Made (31 PTS),H

In [35]:
df_kobe.shape

(133, 6)

In [36]:
df_kobe.dtypes

vs             object
game            int64
quarter        object
time           object
description    object
basket         object
dtype: object

In [37]:
df_kobe.describe()

             game
count  133.000000
mean     2.902256
std      1.450521
min      1.000000
25%      1.000000
50%      3.000000
75%      4.000000
max      5.000000

In [38]:
df_kobe.head()

,vs,game,quarter,time,description,basket
0,ORL,1,1,9:47,Kobe Bryant makes 4-foot two point shot,H
1,ORL,1,1,9:07,Kobe Bryant misses jumper,M
2,ORL,1,1,8:11,Kobe Bryant misses 7-foot jumper,M
3,ORL,1,1,7:41,Kobe Bryant makes 16-foot jumper (Derek Fisher...,H
4,ORL,1,1,7:03,Kobe Bryant makes driving layup,H

In [39]:
df_kobe.tail()

      vs  game quarter     time                         description basket
128  ORL     3       4     3:33         Bryant Layup Shot: Missed        M
129  ORL     3       4     2:02           Bryant 3pt Shot: Missed        M
130  ORL     3       4  00:23.9           Bryant 3pt Shot: Missed        M
131  ORL     3       4  00:06.9           Bryant 3pt Shot: Missed        M
132  ORL     3       4  00:00.5  Bryant Layup Shot: Made (31 PTS)        H

In [40]:
df_games

,id,metascore,platform,release_date,sort_no,summary,title,user_score
0,543718,91,PC,"August 18, 2020",301,"From light planes to wide-body jets, fly highl...",Microsoft Flight Simulator,7.1
1,555108,91,PC,"December 8, 2022",302,"Take up your sword, channel your magic or boar...",Chained Echoes,8.7
2,106820,91,PlayStation 2,"November 7, 2005",303,"Strap on your Guitar Hero SG controller, plug-...",Guitar Hero,8.5
3,110775,91,PC,"November 13, 2008",304,"Players last visited Northrend in ""Warcraft II...",World of Warcraft: Wrath of the Lich King,7.7
4,142864,91,Wii,"October 26, 2010",305,Rock Band returns with the third iteration of ...,Rock Band 3,6.8
...,...,...,...,...,...,...,...,...
20017,507544,17,Switch,"April 5, 2017",20018,Vroom in the night sky is a magical bike actio...,Vroom in the Night Sky,3.3
20018,111627,17,PlayStation 3,"May 5, 2009",20019,The Leisure Suit Larry: Box Office Bust video ...,Leisure Suit Larry: Box Office Bust,1.9
20019,111235,17,Xbox 360,"October 10, 2007",20020,[Xbox Live Arcade] Hop into a Toyota Yaris an...,Yaris,4.4
20020,112727,16,PC,"June 24, 2013",20021,The game is set in the last years of the roari...,Ride to Hell: Retribution,1.4
20021,213564,11,Wii U,"December 4, 2012",20022,Family Party: 30 Great Games Obstacle Arcade b...,Family Party: 30 Great Games Obstacle Arcade,2.7

In [41]:
df_games.shape

(20022, 8)

In [42]:
df_games.dtypes

id               int64
metascore        int64
platform        object
release_date    object
sort_no          int64
summary         object
title           object
user_score      object
dtype: object

In [43]:
df_games.describe()

                  id     metascore       sort_no
count   20022.000000  20022.000000  20022.000000
mean   296058.651084     70.758566  10011.500000
std    190522.456059     12.165042   5779.997881
min    100002.000000     11.000000      1.000000
25%    112180.250000     64.000000   5006.250000
50%    188870.500000     72.000000  10011.500000
75%    510982.250000     80.000000  15016.750000
max    626054.000000     99.000000  20022.000000

In [44]:
df_games.head()

,id,metascore,platform,release_date,sort_no,summary,title,user_score
0,543718,91,PC,"August 18, 2020",301,"From light planes to wide-body jets, fly highl...",Microsoft Flight Simulator,7.1
1,555108,91,PC,"December 8, 2022",302,"Take up your sword, channel your magic or boar...",Chained Echoes,8.7
2,106820,91,PlayStation 2,"November 7, 2005",303,"Strap on your Guitar Hero SG controller, plug-...",Guitar Hero,8.5
3,110775,91,PC,"November 13, 2008",304,"Players last visited Northrend in ""Warcraft II...",World of Warcraft: Wrath of the Lich King,7.7
4,142864,91,Wii,"October 26, 2010",305,Rock Band returns with the third iteration of ...,Rock Band 3,6.8

In [45]:
df_games.tail()

,id,metascore,platform,release_date,sort_no,summary,title,user_score
20017,507544,17,Switch,"April 5, 2017",20018,Vroom in the night sky is a magical bike actio...,Vroom in the Night Sky,3.3
20018,111627,17,PlayStation 3,"May 5, 2009",20019,The Leisure Suit Larry: Box Office Bust video ...,Leisure Suit Larry: Box Office Bust,1.9
20019,111235,17,Xbox 360,"October 10, 2007",20020,[Xbox Live Arcade] Hop into a Toyota Yaris an...,Yaris,4.4
20020,112727,16,PC,"June 24, 2013",20021,The game is set in the last years of the roari...,Ride to Hell: Retribution,1.4
20021,213564,11,Wii U,"December 4, 2012",20022,Family Party: 30 Great Games Obstacle Arcade b...,Family Party: 30 Great Games Obstacle Arcade,2.7

In [46]:
df_movies

,id,metascore,rating,release_date,sort_no,summary,title,user_score
0,549123,94,TV-14,"July 26, 1989",101,A young boy and his little sister struggle to ...,Grave of the Fireflies (1988),8.9
1,522228,94,PG-13,"December 8, 2000",102,"In 19th century China, a magical sword given b...","Crouching Tiger, Hidden Dragon",8.2
2,550614,94,G,"September 11, 1970",103,"In a French forest in 1798, a child is found w...",The Wild Child,6.5
3,549303,94,TV-PG,"January 15, 1943",104,A young woman discovers her visiting uncle may...,Shadow of a Doubt,8.2
4,539956,94,PG,"June 19, 2015",105,"Growing up can be a bumpy road, and it’s no ex...",Inside Out,8.7
...,...,...,...,...,...,...,...,...
15320,550890,1,PG,"August 22, 1987",15321,Dodger must confront the struggles of life as ...,The Garbage Pail Kids Movie,0.7
15321,544030,1,Not Rated,"June 5, 2015",15322,"Three men—Jules Rimet (Gérard Depardieu), Joao...",United Passions,0.7
15322,522425,1,PG-13,"January 12, 1996",15323,Five brave scientists are forced to face life ...,Bio-Dome,7.5
15323,517421,1,Not Rated,"August 12, 2005",15324,Quite definitely one of the most brutal displa...,Chaos,2.5
15324,549063,1,PG-13,"August 3, 2018",15325,Not since 1860 have the Democrats so fanatical...,Death of a Nation,4.3

In [47]:
df_movies.shape

(15325, 8)

In [48]:
df_movies.dtypes

id               int64
metascore        int64
rating          object
release_date    object
sort_no          int64
summary         object
title           object
user_score      object
dtype: object

In [49]:
df_movies.describe()

                  id     metascore       sort_no
count   15325.000000  15325.000000  15325.000000
mean   537312.608548     59.180555   7663.000000
std     13940.035800     17.076007   4424.090773
min    500000.000000      1.000000      1.000000
25%    521696.000000     48.000000   3832.000000
50%    541600.000000     61.000000   7663.000000
75%    548626.000000     72.000000  11494.000000
max    557168.000000    100.000000  15325.000000

In [50]:
df_movies.head()

,id,metascore,rating,release_date,sort_no,summary,title,user_score
0,549123,94,TV-14,"July 26, 1989",101,A young boy and his little sister struggle to ...,Grave of the Fireflies (1988),8.9
1,522228,94,PG-13,"December 8, 2000",102,"In 19th century China, a magical sword given b...","Crouching Tiger, Hidden Dragon",8.2
2,550614,94,G,"September 11, 1970",103,"In a French forest in 1798, a child is found w...",The Wild Child,6.5
3,549303,94,TV-PG,"January 15, 1943",104,A young woman discovers her visiting uncle may...,Shadow of a Doubt,8.2
4,539956,94,PG,"June 19, 2015",105,"Growing up can be a bumpy road, and it’s no ex...",Inside Out,8.7

In [51]:
df_movies.tail()

,id,metascore,rating,release_date,sort_no,summary,title,user_score
15320,550890,1,PG,"August 22, 1987",15321,Dodger must confront the struggles of life as ...,The Garbage Pail Kids Movie,0.7
15321,544030,1,Not Rated,"June 5, 2015",15322,"Three men—Jules Rimet (Gérard Depardieu), Joao...",United Passions,0.7
15322,522425,1,PG-13,"January 12, 1996",15323,Five brave scientists are forced to face life ...,Bio-Dome,7.5
15323,517421,1,Not Rated,"August 12, 2005",15324,Quite definitely one of the most brutal displa...,Chaos,2.5
15324,549063,1,PG-13,"August 3, 2018",15325,Not since 1860 have the Democrats so fanatical...,Death of a Nation,4.3